<%- include("partials/header") %> <%console.log(posts);%>
<h2 class="home"><%= startingContent %></h2>
<h2 class="home"><%= startingContent1 %></h2>
<div class="btn">
  <a href="/compose"><button class="home-btn p-2">Write Blog</button></a>
</div>
<%posts.forEach(function(post){%>

<h3 class="title"><%=post.title%></h3>
<p class="para">
  <%=post.content.substring(0,100)+" ..."%>
  <a href="/posts/<%=post.title%>">Read More</a>
</p>

<%})%> <%- include("partials/footer") %>
